
.container{
    background-color: #eee8e8f5;
    padding: 10px;
}

/* Estilo para separar cada items de los formulario */
.form1{
    margin-bottom: 10px;
}

.form2{
    margin-bottom: 10px;
}

.form3{
    margin-bottom: 10px;
}

.form4{
    margin-bottom: 10px;
}

.form5{
    margin-top: 10px;
}

.formSelect{
    margin-bottom: 40px;
}

/* Estilos para el contenedor del botón */
.submit {
    text-align:start;
    margin-top: 30px;
}

/* Estilos para el botón */
.submit input[type="submit"] {
    padding: 5px 10px; 
    font-size: 15px;
    border: 2px solid #3498db;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Estilos al pasar el ratón por encima del botón */
.submit input[type="submit"]:hover {
    background-color: #2980b9; 
    border: 2px solid #2980b9;
}

/* Estilo para el Pie de página */
.footer{
    bottom: 0;
    width: 100%;
    height: 60px;   /* Height of the footer */
    background-color: #f7f7f7;
    color: black;
    text-align: center;
}